table {
  font-family: "Reem Kufi", sans-serif;
}

th:hover {
  cursor: pointer;
}

.fa-caret-up, .fa-caret-down {
  color: red;
  
}

/* <i class="fas fa-caret-up"></i>
<i class="fas fa-caret-down"></i> */
